<ion-content>
  <swiper-container
  slides-per-view="1"
  pagination="true"
  >
    <swiper-slide>
      <h1 class="titulo-llamativo">WELCOME</h1>
      <ion-icon name="cafe-outline"></ion-icon>
      <p class="texto-introduccion">Bienvenido a esta app donde puedes compartir tus gustos</p>
    </swiper-slide>
    <swiper-slide>
      <h1 class="titulo-llamativo">Publica!</h1>
      <ion-icon name="battery-charging-outline"></ion-icon>
      <p class="texto-introduccion">Publica lo que quieras, se amabale con otros y pasa un buen rato</p>
    </swiper-slide>
    <swiper-slide>
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
      <h1 class="titulo-llamativo">Conoce gente!</h1>
      <ion-icon name="battery-charging-outline"></ion-icon>
      <p class="texto-introduccion">Empieza ahora mismo,dale al boton de abajo!</p>
      <ion-button  (click)="finish()">Ingresar al app</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>