<ion-header >
  <ion-toolbar>
    <ion-title>Crear un Nuevo Post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form [formGroup]="AddPostForm" (ngSubmit)="addPost(addPostForm.value)">
  <div (click)="uploadPhone()">
    <img [src]="post_image ? post_image : 'assets/images/place_holder.jpeg"/>
    <p *ngIf="!post_image">Haz click para subir una imagen</p>
  </div>
  <div>
    <ng-container *ngFor="let error of formErrors.image">
      <ion-label color="danger" 
      *ngIf="(AddPostForm.get('image')?.hasError(error.type) && AddPostForm.get('image')?.dirty)">
      {{ error.message }}
    </ion-label>
    </ng-container>
  </div>
  <ion-item>
    <ion-textarea label="Descripcion del post" labelIpPlacement="floating" placeholder="Postea lo que piensas" formControlName="description"></ion-textarea>
  </ion-item>
  <div>
    <ng-container *ngFor="let error of formErrors.descripcion">
      <ion-label color="danger" 
      *ngIf="(AddPostForm.get('description')?.hasError(error.type) && AddPostForm.get('description')?.dirty)">
      {{ error.message }}
    </ion-label>
    </ng-container>
  </div>
  <ion-footer>
    <ion-button
    type="submit"
    [disabled]="!AddPostForm.valid"
    expand="full">
  Publicar
  </ion-button>
  </ion-footer>

</form>
</ion-content>
