
swiper-slide {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: aqua;
}
.title1 {
color: red;
}

.bg-color-slide {
background-color: lightsteelblue;
}

.user-avatar{
  width: 30px;
  height: 30px;
}

.image-post{
  margin: 0 auto;
  display: block;
}
ion-fab{
ion-fab-button{
--background:black;
--color:red;
 }
}